.idea
.gradle
*.iml
local.properties
/build/
gen/
out/
Thumbs.db
/src/net/alliedmods/lang/amxxpawn/oldpsi/
/src/net/alliedmods/lang/amxxpawn/oldpsi2/
/src/net/alliedmods/lang/amxxpawn/editor/disabled/
